.elementor-761
    .elementor-element.elementor-element-4e05a2e
    > .elementor-container {
    max-width: 1200px;
}
.elementor-761 .elementor-element.elementor-element-4e05a2e {
    z-index: 2;
}
.elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(35px / 2);
}
.elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(35px / 2);
}
.elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(35px / 2);
    margin-left: calc(35px / 2);
}
.elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-35px / 2);
    margin-left: calc(-35px / 2);
}
body.rtl
    .elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-35px / 2);
}
body:not(.rtl)
    .elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-35px / 2);
}
.elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-item:not(:last-child):after {
    content: "";
    height: 1%;
    border-color: #19cbe4;
}
.elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 20px;
}
.elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid;
}
.elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-inline-items
    .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 20px;
}
.elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-icon
    i {
    color: #19cbe4;
    transition: color 0.3s;
}
.elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-icon
    svg {
    fill: #19cbe4;
    transition: fill 0.3s;
}
.elementor-761 .elementor-element.elementor-element-7f7d570 {
    --e-icon-list-icon-size: 14px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25)
        0 0;
    --icon-vertical-offset: 0px;
}
.elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-icon {
    padding-right: 5px;
}
.elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-item
    > .elementor-icon-list-text,
.elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-item
    > a {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-761
    .elementor-element.elementor-element-7f7d570
    .elementor-icon-list-text {
    color: #ffffff;
    transition: color 0.3s;
}
.elementor-761
    .elementor-element.elementor-element-3a0d81f
    .elementor-icon-list-item:not(:last-child):after {
    content: "";
    height: 1%;
    border-color: #19cbe4;
}
.elementor-761
    .elementor-element.elementor-element-3a0d81f
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 14px;
}
.elementor-761
    .elementor-element.elementor-element-3a0d81f
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid;
}
.elementor-761
    .elementor-element.elementor-element-3a0d81f
    .elementor-inline-items
    .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 14px;
}
.elementor-761
    .elementor-element.elementor-element-3a0d81f
    .elementor-icon-list-icon
    i {
    color: #00334e;
    transition: color 0.3s;
}
.elementor-761
    .elementor-element.elementor-element-3a0d81f
    .elementor-icon-list-icon
    svg {
    fill: #00334e;
    transition: fill 0.3s;
}
.elementor-761 .elementor-element.elementor-element-3a0d81f {
    --e-icon-list-icon-size: 0px;
    --icon-vertical-offset: 0px;
}
.elementor-761
    .elementor-element.elementor-element-3a0d81f
    .elementor-icon-list-item
    > .elementor-icon-list-text,
.elementor-761
    .elementor-element.elementor-element-3a0d81f
    .elementor-icon-list-item
    > a {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-761
    .elementor-element.elementor-element-3a0d81f
    .elementor-icon-list-text {
    color: #ffffff;
    transition: color 0.3s;
}
.elementor-761
    .elementor-element.elementor-element-6690580
    > .elementor-container {
    max-width: 1200px;
}
.elementor-761
    .elementor-element.elementor-element-6690580
    > .elementor-container
    > .elementor-column
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-761 .elementor-element.elementor-element-6690580 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #ffffff2e;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: -125px;
    padding: 0px 0px 0px 0px;
    z-index: 2;
}
.elementor-761
    .elementor-element.elementor-element-6690580
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
    .elementor-761
    .elementor-element.elementor-element-06e5ad6.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-761
    .elementor-element.elementor-element-06e5ad6.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-761 .elementor-element.elementor-element-df5b3d7 {
    text-align: left;
}
.elementor-761 .elementor-element.elementor-element-df5b3d7 img {
    width: 100%;
}
.elementor-761
    .elementor-element.elementor-element-444baf3.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-end;
}
.elementor-761
    .elementor-element.elementor-element-444baf3
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu
    > ul,
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper:not(.active)
    .jkit-menu,
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper:not(.active)
    .jkit-menu
    > li
    > a {
    display: flex;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu {
    justify-content: center;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .menu-item
    .sub-menu {
    left: unset;
    top: 100%;
    right: unset;
    bottom: unset;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .menu-item
    .sub-menu
    .menu-item
    .sub-menu {
    left: 100%;
    top: unset;
    right: unset;
    bottom: unset;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper {
    height: 80px;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li
    > a {
    font-family: var(--e-global-typography-542f280-font-family), Sans-serif;
    font-size: var(--e-global-typography-542f280-font-size);
    font-weight: var(--e-global-typography-542f280-font-weight);
    line-height: var(--e-global-typography-542f280-line-height);
    letter-spacing: var(--e-global-typography-542f280-letter-spacing);
    word-spacing: var(--e-global-typography-542f280-word-spacing);
    padding: 0px 20px 0px 20px;
    color: #ffffff;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li
    > a
    svg {
    fill: #ffffff;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li:hover
    > a {
    color: #ffffff;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li:hover
    > a
    svg {
    fill: #ffffff;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li.current-menu-item
    > a,
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li.current-menu-ancestor
    > a {
    color: #19cbe4;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li.current-menu-item
    > a
    svg,
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    > li.current-menu-ancestor
    > a
    svg {
    fill: #19cbe4;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    li.menu-item-has-children
    > a
    i,
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    li.menu-item-has-children
    > a
    svg {
    margin: 0px 0px 2px 7px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .sub-menu
    li
    a {
    font-family: var(--e-global-typography-542f280-font-family), Sans-serif;
    font-size: var(--e-global-typography-542f280-font-size);
    font-weight: var(--e-global-typography-542f280-font-weight);
    line-height: var(--e-global-typography-542f280-line-height);
    letter-spacing: var(--e-global-typography-542f280-letter-spacing);
    word-spacing: var(--e-global-typography-542f280-word-spacing);
    padding: 16px 30px 16px 20px;
    border-style: solid;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .sub-menu
    li
    > a {
    color: #ffffff;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .sub-menu
    li
    > a
    svg {
    fill: #ffffff;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .sub-menu
    li:hover
    > a {
    color: #19cbe4;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .sub-menu
    li:hover
    > a
    svg {
    fill: #19cbe4;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .sub-menu
    li.current-menu-item
    > a {
    color: #19cbe4;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    .sub-menu
    li.current-menu-item
    > a
    svg {
    fill: #19cbe4;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-menu
    li.menu-item-has-children
    .sub-menu {
    padding: 10px 10px 10px 10px;
    background-color: #1d252b;
    border-radius: 0px 0px 0px 0px;
    min-width: 220px;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-hamburger-menu {
    float: right;
    background-color: #e91a2f00;
    border-style: solid;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-hamburger-menu:hover {
    background-color: #c9172900;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-nav-identity-panel
    .jkit-close-menu {
    background-color: #ffffff00;
    border-style: solid;
}
.elementor-761
    .elementor-element.elementor-element-ed57b6e
    .jeg-elementor-kit.jkit-nav-menu
    .jkit-menu-wrapper
    .jkit-nav-identity-panel
    .jkit-nav-site-title
    .jkit-nav-logo
    img {
    object-fit: cover;
}
.elementor-761 .elementor-element.elementor-element-ed57b6e {
    width: auto;
    max-width: auto;
}
.elementor-761
    .elementor-element.elementor-element-4fec19c.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-end;
}
.elementor-761
    .elementor-element.elementor-element-2b401b1
    .jeg-elementor-kit.jkit-icon-box
    .jkit-icon-box-wrapper {
    text-align: left;
    padding: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}
.elementor-761
    .elementor-element.elementor-element-2b401b1.jkit-equal-height-enable,
.elementor-761
    .elementor-element.elementor-element-2b401b1.jkit-equal-height-enable
    .elementor-widget-container,
.elementor-761
    .elementor-element.elementor-element-2b401b1.jkit-equal-height-enable
    .jeg-elementor-kit.jkit-icon-box,
.elementor-761
    .elementor-element.elementor-element-2b401b1.jkit-equal-height-enable
    .jeg-elementor-kit.jkit-icon-box
    .jkit-icon-box-wrapper {
    height: 100%;
}
.elementor-761
    .elementor-element.elementor-element-2b401b1
    .jeg-elementor-kit.jkit-icon-box
    .title {
    margin: 4px 0px 0px 20px;
    padding: 0px 0px 0px 0px;
    color: #ffffff;
    font-family: var(--e-global-typography-8d16902-font-family), Sans-serif;
    font-size: var(--e-global-typography-8d16902-font-size);
    font-weight: var(--e-global-typography-8d16902-font-weight);
    line-height: var(--e-global-typography-8d16902-line-height);
    letter-spacing: var(--e-global-typography-8d16902-letter-spacing);
    word-spacing: var(--e-global-typography-8d16902-word-spacing);
}
.elementor-761
    .elementor-element.elementor-element-2b401b1
    .jeg-elementor-kit.jkit-icon-box
    .icon-box.icon-box-body
    .icon-box-description {
    margin: 0px 0px 0px 0px;
}
.elementor-761
    .elementor-element.elementor-element-2b401b1
    .jeg-elementor-kit.jkit-icon-box
    .hover-watermark
    i {
    font-size: 100px;
}
.elementor-761
    .elementor-element.elementor-element-2b401b1
    .jeg-elementor-kit.jkit-icon-box
    .hover-watermark
    svg {
    width: 100px;
}
.elementor-761
    .elementor-element.elementor-element-2b401b1
    .jeg-elementor-kit.jkit-icon-box
    .icon-box
    > .icon {
    color: #19cbe4;
    margin: 2px 0px 0px 0px;
    height: 10px;
    width: 0px;
}
.elementor-761
    .elementor-element.elementor-element-2b401b1
    .jeg-elementor-kit.jkit-icon-box
    .icon-box
    > .icon
    svg {
    fill: #19cbe4;
    width: 27px;
}
.elementor-761
    .elementor-element.elementor-element-2b401b1
    .jeg-elementor-kit.jkit-icon-box
    .icon-box
    > .icon
    i {
    font-size: 27px;
}
.elementor-761 .elementor-element.elementor-element-2b401b1 {
    width: auto;
    max-width: auto;
}
@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-761 .elementor-element.elementor-element-ba4acae {
        width: 100%;
    }
    .elementor-761 .elementor-element.elementor-element-06e5ad6 {
        width: 50%;
    }
    .elementor-761 .elementor-element.elementor-element-444baf3 {
        width: 50%;
    }
    .elementor-761 .elementor-element.elementor-element-4fec19c {
        width: 46%;
    }
}
@media (max-width: 1024px) {
    .elementor-761
        .elementor-element.elementor-element-7f7d570
        .elementor-icon-list-item
        > .elementor-icon-list-text,
    .elementor-761
        .elementor-element.elementor-element-7f7d570
        .elementor-icon-list-item
        > a {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-761
        .elementor-element.elementor-element-ba4acae.elementor-column
        > .elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-761 .elementor-element.elementor-element-3a0d81f {
        --e-icon-list-icon-align: right;
        --e-icon-list-icon-margin: 0 0 0
            calc(var(--e-icon-list-icon-size, 1em) * 0.25);
    }
    .elementor-761
        .elementor-element.elementor-element-3a0d81f
        .elementor-icon-list-item
        > .elementor-icon-list-text,
    .elementor-761
        .elementor-element.elementor-element-3a0d81f
        .elementor-icon-list-item
        > a {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-761
        .elementor-element.elementor-element-06e5ad6
        > .elementor-element-populated {
        margin: 0px 0px 0px 10px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 10px;
    }
    .elementor-761 .elementor-element.elementor-element-df5b3d7 {
        text-align: left;
    }
    .elementor-761 .elementor-element.elementor-element-df5b3d7 img {
        width: 150px;
    }
    .elementor-bc-flex-widget
        .elementor-761
        .elementor-element.elementor-element-444baf3.elementor-column
        .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-761
        .elementor-element.elementor-element-444baf3.elementor-column.elementor-element[data-element_type="column"]
        > .elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-761
        .elementor-element.elementor-element-444baf3.elementor-column
        > .elementor-widget-wrap {
        justify-content: flex-end;
    }
    .elementor-761
        .elementor-element.elementor-element-444baf3
        > .elementor-element-populated {
        margin: 0px 20px 0px 0px;
        --e-column-margin-right: 20px;
        --e-column-margin-left: 0px;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu.break-point-mobile
        .jkit-menu-wrapper {
        background-color: #1d252b;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu.break-point-tablet
        .jkit-menu-wrapper {
        background-color: #1d252b;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper {
        padding: 25px 25px 25px 25px;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        > li
        > a {
        font-size: var(--e-global-typography-542f280-font-size);
        line-height: var(--e-global-typography-542f280-line-height);
        letter-spacing: var(--e-global-typography-542f280-letter-spacing);
        word-spacing: var(--e-global-typography-542f280-word-spacing);
        padding: 15px 15px 15px 6px;
        color: #ffffff;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        > li
        > a
        svg {
        fill: #ffffff;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        > li:hover
        > a {
        color: #19cbe4;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        > li:hover
        > a
        svg {
        fill: #19cbe4;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        > li.current-menu-item
        > a,
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        > li.current-menu-ancestor
        > a {
        color: #19cbe4;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        > li.current-menu-item
        > a
        svg,
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        > li.current-menu-ancestor
        > a
        svg {
        fill: #19cbe4;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        li.menu-item-has-children
        > a
        i,
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        li.menu-item-has-children
        > a
        svg {
        margin: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        .sub-menu
        li
        a {
        font-size: var(--e-global-typography-542f280-font-size);
        line-height: var(--e-global-typography-542f280-line-height);
        letter-spacing: var(--e-global-typography-542f280-letter-spacing);
        word-spacing: var(--e-global-typography-542f280-word-spacing);
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        .sub-menu
        li
        > a {
        color: #ffffff;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        .sub-menu
        li
        > a
        svg {
        fill: #ffffff;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        .sub-menu
        li:hover
        > a {
        color: #19cbe4;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        .sub-menu
        li:hover
        > a
        svg {
        fill: #19cbe4;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        .sub-menu
        li.current-menu-item
        > a {
        color: #19cbe4;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        .sub-menu
        li.current-menu-item
        > a
        svg {
        fill: #19cbe4;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-hamburger-menu
        i {
        font-size: 25px;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-hamburger-menu
        svg {
        width: 25px;
        fill: #ffffff;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-hamburger-menu {
        border-width: 0px 0px 0px 0px;
        border-radius: 0px 0px 0px 0px;
        color: #ffffff;
        margin: 0px 0px 0px 0px;
        padding: 10px 0px 10px 10px;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-hamburger-menu:hover {
        color: #19cbe4;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-hamburger-menu:hover
        svg {
        fill: #19cbe4;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-nav-identity-panel
        .jkit-close-menu
        i {
        font-size: 21px;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-nav-identity-panel
        .jkit-close-menu
        svg {
        width: 21px;
        fill: #ffffff;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-nav-identity-panel
        .jkit-close-menu {
        border-width: 0px 0px 0px 0px;
        border-radius: 50px 50px 50px 50px;
        color: #ffffff;
        padding: 12px 32px 15px 15px;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-nav-identity-panel
        .jkit-close-menu:hover {
        color: #19cbe4;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-nav-identity-panel
        .jkit-close-menu:hover
        svg {
        fill: #19cbe4;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-nav-identity-panel
        .jkit-nav-site-title
        .jkit-nav-logo
        img {
        max-width: 260px;
        width: 120px;
        object-fit: contain;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        > .elementor-widget-container {
        margin: 0px -3px 0px 0px;
    }
    .elementor-761
        .elementor-element.elementor-element-2b401b1
        .jeg-elementor-kit.jkit-icon-box
        .title {
        font-size: var(--e-global-typography-8d16902-font-size);
        line-height: var(--e-global-typography-8d16902-line-height);
        letter-spacing: var(--e-global-typography-8d16902-letter-spacing);
        word-spacing: var(--e-global-typography-8d16902-word-spacing);
    }
}
@media (max-width: 767px) {
    .elementor-761
        .elementor-element.elementor-element-7f7d570
        .elementor-icon-list-item
        > .elementor-icon-list-text,
    .elementor-761
        .elementor-element.elementor-element-7f7d570
        .elementor-icon-list-item
        > a {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-761
        .elementor-element.elementor-element-3a0d81f
        .elementor-icon-list-item
        > .elementor-icon-list-text,
    .elementor-761
        .elementor-element.elementor-element-3a0d81f
        .elementor-icon-list-item
        > a {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-761 .elementor-element.elementor-element-06e5ad6 {
        width: 50%;
    }
    .elementor-761
        .elementor-element.elementor-element-06e5ad6
        > .elementor-element-populated {
        margin: 0px 0px 0px 5px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 5px;
    }
    .elementor-761 .elementor-element.elementor-element-df5b3d7 img {
        width: 120px;
    }
    .elementor-761 .elementor-element.elementor-element-444baf3 {
        width: 50%;
    }
    .elementor-761
        .elementor-element.elementor-element-444baf3
        > .elementor-element-populated {
        margin: 0px 15px 0px 0px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 0px;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        > li
        > a {
        font-size: var(--e-global-typography-542f280-font-size);
        line-height: var(--e-global-typography-542f280-line-height);
        letter-spacing: var(--e-global-typography-542f280-letter-spacing);
        word-spacing: var(--e-global-typography-542f280-word-spacing);
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        .sub-menu
        li
        a {
        font-size: var(--e-global-typography-542f280-font-size);
        line-height: var(--e-global-typography-542f280-line-height);
        letter-spacing: var(--e-global-typography-542f280-letter-spacing);
        word-spacing: var(--e-global-typography-542f280-word-spacing);
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-hamburger-menu
        i {
        font-size: 22px;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-hamburger-menu
        svg {
        width: 22px;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-hamburger-menu {
        padding: 10px 0px 10px 10px;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-nav-identity-panel
        .jkit-nav-site-title
        .jkit-nav-logo
        img {
        max-width: 240px;
        width: 120px;
    }
    .elementor-761
        .elementor-element.elementor-element-ed57b6e
        > .elementor-widget-container {
        margin: 0px -3px 0px 0px;
    }
    .elementor-761
        .elementor-element.elementor-element-2b401b1
        .jeg-elementor-kit.jkit-icon-box
        .title {
        font-size: var(--e-global-typography-8d16902-font-size);
        line-height: var(--e-global-typography-8d16902-line-height);
        letter-spacing: var(--e-global-typography-8d16902-letter-spacing);
        word-spacing: var(--e-global-typography-8d16902-word-spacing);
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-hamburger-menu {
        display: block;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper {
        width: 100%;
        max-width: 360px;
        border-radius: 0;
        background-color: #f7f7f7;
        width: 100%;
        position: fixed;
        top: 0;
        left: -110%;
        height: 100% !important;
        box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        -moz-transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53),
            width 0.6s;
        -webkit-transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53),
            width 0.6s;
        -o-transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53), width 0.6s;
        -ms-transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53), width 0.6s;
        transition: left 0.6s cubic-bezier(0.6, 0.1, 0.68, 0.53), width 0.6s;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper.active {
        left: 0;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu-container {
        overflow-y: hidden;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-nav-identity-panel {
        padding: 10px 0px 10px 0px;
        display: block;
        position: relative;
        z-index: 5;
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-nav-identity-panel
        .jkit-nav-site-title {
        display: inline-block;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-nav-identity-panel
        .jkit-close-menu {
        display: block;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu {
        display: block;
        height: 100%;
        overflow-y: auto;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        li.menu-item-has-children
        > a
        i {
        margin-left: auto;
        border: 1px solid var(--jkit-border-color);
        border-radius: 3px;
        padding: 4px 15px;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        li.menu-item-has-children
        > a
        svg {
        margin-left: auto;
        border: 1px solid var(--jkit-border-color);
        border-radius: 3px;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        li.menu-item-has-children
        .sub-menu {
        position: inherit;
        box-shadow: none;
        background: none;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        li {
        display: block;
        width: 100%;
        position: inherit;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        li
        .sub-menu {
        display: none;
        max-height: 2500px;
        opacity: 0;
        visibility: hidden;
        transition: max-height 5s ease-out;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        li
        .sub-menu.dropdown-open {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        li
        a {
        display: block;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        li
        a
        i {
        float: right;
    }
}
@media (max-width: 1024px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu
        li
        a
        svg {
        float: right;
    }
}
@media (min-width: 1025px) {
    .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper
        .jkit-menu-container {
        height: 100%;
    }
}
@media (max-width: 1024px) {
    .admin-bar
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper {
        top: 32px;
    }
}
@media (max-width: 782px) {
    .admin-bar
        .elementor-element.elementor-element-ed57b6e
        .jeg-elementor-kit.jkit-nav-menu
        .jkit-menu-wrapper {
        top: 46px;
    }
}
@media (min-width: 1025px) {
    .elementor-element.elementor-element-2b401b1
        .jeg-elementor-kit.jkit-icon-box
        .jkit-icon-box-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        flex-direction: row;
    }
}
@media (min-width: 1025px) {
    .elementor-element.elementor-element-2b401b1
        .jeg-elementor-kit.jkit-icon-box
        .jkit-icon-box-wrapper
        .icon-box.icon-box-header {
        margin-right: 15px;
        margin-left: unset;
    }
}
